body{
  margin : 0;
  background-color : #131313;
  color : #ffffff;
}

.page_button_container {
  display: flex;
  justify-content: center; 
}

.page_button_container button {
  margin: 0 2px; 
}

/*
  detail_ ~~ 들을 MovieDetail.css로 해서 넣으면 왠지 모르겠는데 inputButton이랑 겹침..
*/
.detail_container{
  display:flex;
  flex-direction: column;
  align-items:center;
  width: 100%;
  max-width: 800px;
  margin: 10% auto;
  background-color: #131313;
  color: #ffffff;
}

.detail_content{
  display:flex;
  width:100%;
}

.detail_poster{
  max-width: 300px;
  margin-right: 20px;
  width : 100%;
  flex : 1 1 300px;
}

.detail_details {
  flex: 2 1 500px;
  margin-top:20px;
}

.detail_title {
  font-size: 2em;
  margin-bottom: 10px;
}

.detail_info {
  margin-bottom: 20px;
}

.detail_info strong {
  display: block;
  margin-bottom: 5px;
}

.detail_button {
  display: block;
  width: 100%;
  max-width: 200px;
  padding: 10px;
  /*
    상단 margin 20px, 하단 margin 10px, 좌우 : auto
    margin : 1개 : 전체 / 2개 : 상하 좌우 / 3개 : 상 좌우 하 / 4개 : 상 우 하 좌
  */
  margin: 20px auto 20px;
  background-color: #4e4e4e;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
}

.detail_button:hover {
  background-color: #a9a9a9;
}